*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Inter', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}


 .cabeçalho{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 60px ;


}

.nav-logo{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.tec{
    margin-left: 0.3em;
    color: #3A404E;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
}
ul li {
    position: relative;
    right: 60%;
    display: inline-block;
    margin-left: 1.5em;
    color: #667085;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 0.3em;
}
#entra{
    background: white;
    color: #667085;
    font-weight: 500;
    border: none;
    margin-right: 1em;

}
#cadastra{
    background: #8E2424;
    border-radius: 8px;
    border: none;
    color:white ;
    padding: 10px 18px 10px 18px;
}
.card1{
    text-align: center;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 90px 0px 96px 0px;

}
.sobre{
    color: #8E2424;
    font-weight: 600 ;
}
.sob-titulo{
    font-size: 48px;
    font-weight: 600;
}
.sob-paragrafo{
    color: #667085;
    font-weight: 400;
    font-size: 20px;
}
.card2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 0px 50px 0px 50px; 

}
.cont-titulo{
    color:#8E2424;
    font-size: 60px;
    font-weight: 600    ;
    margin-bottom: 0.7em;
}
.sub-titulo{
        color: black;
        margin-bottom: 0.5em;
}
.card2 {
    position:static;
    color: #667085;
    line-height: 24px;
}
.card3{
    text-align: center;
    margin-top: 96px;
    line-height: 50px;

}
.botao-vagas{
    color: #8E2424;

}
.img1{
    display: block;
    height: 100px;
    margin-bottom: 1em;


}
.card3-titulo{
    font-size: 2em;
}
.card3-p{
    color: #667085;
    font-size: 20px;

}
aside{
    margin-bottom: 80px;
    height: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vagas{
    height: 940px;
    width: 768px;
    line-height: 30px;
}
.aside-titulo{
    margin-top: 1.5em;
    font-size: 20px;
    font-weight: 500;
    color: #101828;
    
}
.card-2-1 , .card-2-2 , .card-3-1, .card-3-2, .card-3-3{
    margin-top: 1.8em;
    height: 136px;
    border-radius: 16px;
    border: 1px solid #667085;
    padding: 1em;
    line-height: 30px;
}

.sub-titulo{
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #101828;
    margin-bottom: 1.5em;
}
.time{
    width: 100%;
    margin-top: 2em;
    color: #3A404E;
}
.salario{
    color: #3A404E;
    margin-left: 1em;
}
.section2{
    height: 404px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.depoimento{
    background: rgba(195, 25, 25, 0.03);
    width: 90%;
    height: 404px;
    text-align: center;
    margin-bottom: 30px;
    
}
.depoimento1{
    color: #8E2424;
    margin-top: 7%;


}
.depoimento2{
    width: 90%;
    margin-top: 2%;
    color:#101828;
    font-size: 30px;
    font-weight: 500;
}
.img2{
    margin-top: 5%;
}
.nome{
    font-size: 16px;
    font-weight: 500;
    color:#101828;

}
.nome2{
    margin-top: 0.5em;
    font-size: 14px;
    color: #667085;
}

footer{
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
}
.foot-titulo{
    color:#101828;
    font-weight: 600;
    font-size: 36px;

}
.foot-para{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #667085;
    font-weight: 400;
    line-height: 30px;
}
#email{
    width: 360px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(208, 213, 221, 1);
    padding: 12px 14px 12px 16px;
}
.cadastro{
    background-color: #8E2424;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    color:white;
    border: 1px solid rgba(142, 36, 36, 1);

}
.copy{
    margin-top: 1em;
    color: #667085;
}
@media (max-width: 768px){x
    body{
        font-size: 80%;
        width: 50%;

    }
}